{% load static %}

<!--**********************************
        Scripts
    ***********************************-->
<!-- Required vendors -->
<script src="{% static 'dashboard/vendor/global/global.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<!-- Apex Chart -->
<script src="{% static 'dashboard/vendor/apexchart/apexchart.js' %}"></script>
<!-- Chart piety plugin files -->
<script src="{% static 'dashboard/vendor/peity/jquery.peity.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
<!--swiper-slider-->
<script src="{% static 'dashboard/vendor/swiper/js/swiper-bundle.min.js' %}"></script>

<!-- Datatable -->
<script src="{% static 'dashboard/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/js/plugins-init/datatables.init.js' %}"></script>

<!-- Dashboard 1 -->
<script src="{% static 'dashboard/js/dashboard/dashboard-1.js' %}"></script>
<script src="{% static 'dashboard/vendor/wow-master/dist/wow.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/bootstrap-datetimepicker/js/moment.js' %}"></script>
<script src="{% static 'dashboard/vendor/datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/bootstrap-select-country/js/bootstrap-select-country.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js' %}"></script>

<script src="{% static 'dashboard/js/dlabnav-init.js' %}"></script>
<script src="{% static 'dashboard/js/custom.min.js' %}"></script>
<script src="{% static 'dashboard/js/demo.js' %}"></script>
<script src="{% static 'dashboard/js/styleSwitcher.js' %}"></script>

<!-- Daterangepicker -->
<!-- momment js is must -->
<script src="{% static 'dashboard/vendor/moment/moment.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- pickdate -->
<script src="{% static 'dashboard/vendor/pickadate/picker.js' %}"></script>
<script src="{% static 'dashboard/vendor/pickadate/picker.time.js' %}"></script>
<script src="{% static 'dashboard/vendor/pickadate/picker.date.js' %}"></script>

<!-- Daterangepicker -->
<script src="{% static 'dashboard/js/plugins-init/bs-daterange-picker-init.js' %}"></script>
<!-- Pickdate -->
<script src="{% static 'dashboard/js/plugins-init/pickadate-init.js' %}"></script>