{% load static %}

<!--**********************************
            Sidebar start
        ***********************************-->
<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="material-symbols-outlined">dashboard</i>
                    <span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/myadmin/dashboard/">Home</a></li>
                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="material-symbols-outlined">school</i>
                    <span class="nav-text">LearnPress</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/myadmin/courses/">Courses</a></li>
                    <li><a href="/myadmin/lessons/">Lessons</a></li>
                    <li><a href="/myadmin/course_categories/">Categories</a></li>
                    <li><a href="/myadmin/orders/">Orders</a></li>
                    <li><a href="/myadmin/payments/">Payments</a></li>
                </ul>

            </li>
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="material-symbols-outlined">post_add</i>
                    <span class="nav-text">Knowledges</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/myadmin/knowledges/">All Knowledges</a></li>
                    <li><a href="/myadmin/knowledge_create/">Add New Knowledge</a></li>
                    <li><a href="/myadmin/knowledge_categories/">Categories</a></li>

                </ul>

            </li>
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="material-symbols-outlined">post_add</i>
                    <span class="nav-text">Instructor</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/myadmin/instructors/">Request Form</a></li>
                    <li><a href="/myadmin/teaching_courses/">Teaching Course</a></li>

                </ul>

            </li>
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="material-symbols-outlined">person</i>
                    <span class="nav-text">Authentication</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/role/list/">Roles</a></li>
                    <li><a href="/user/list/">Users</a></li>
                </ul>

            </li>
        </ul>
    </div>
</div>
<!--**********************************
            Sidebar end
        ***********************************-->