{% extends 'user/components/base_no_left_right.html' %}

{% block title %}Business Page Dashboard{% endblock %}

{% block body %}

<div class="row">

    {% include 'user/components/business_sidebar.html' %}
    <div class="{% if my_business_page.id == current_business_page.id %}col-xl-9 col-lg-8{% endif %}">
        <div class="banner-area pages-create mb-5">
            <div class="head-area d-center justify-content-between">
                <h5>Overview {{my_business_page.owner.username}}</h5>
                <div class="input-area py-2">
                    <select>
                        <option value="1">Last 7 days</option>
                        <option value="2">Last 15 days</option>
                        <option value="3">Last 30 days</option>
                    </select>
                </div>
            </div>
            <div class="cus-border pt-6 my-6">
                <div class="row graph-col">
                    <div class="col-xl-4 col-6">
                        <div class="single-box graph-box text-start p-4">
                            <h6 class="head-color">Post Content</h6>
                            <div class="d-flex align-items-center">
                                <h2 class="m-0">2</h2>
                                <div id="postContentOne"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6">
                        <div class="single-box graph-box second text-start p-4">
                            <h6 class="head-color">Post Content</h6>
                            <div class="d-flex align-items-center">
                                <h2 class="m-0">6</h2>
                                <div id="postContentTwo"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6">
                        <div class="single-box graph-box third text-start p-4">
                            <h6 class="head-color">Page Growth</h6>
                            <div class="d-flex align-items-center">
                                <h2 class="m-0">9%</h2>
                                <div id="postContentThree"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="single-box d-grid gap-2 p-4">
                        <div class="head-area mb-4 d-center justify-content-between">
                            <h5>Summary</h5>
                            <span class="mdtxt">Last 7 days</span>
                        </div>
                        <div class="summary-wrapper d-center p-5 justify-content-between">
                            <div class="left-side">
                                <div class="profile-item d-flex gap-3 align-items-center">
                                    <div class="icon-area d-center">
                                        <i class="material-symbols-outlined mat-icon fs-xl"> post_add </i>
                                    </div>
                                    <div class="text-area text-start">
                                        <p>Post</p>
                                    </div>
                                </div>
                            </div>
                            <div class="right-summary d-center">
                                <h5 class="m-0">10</h5>
                                <i class="material-symbols-outlined mat-icon fs-4"> north_west </i>
                            </div>
                        </div>
                        <div class="summary-wrapper d-center p-5 justify-content-between">
                            <div class="left-side">
                                <div class="profile-item d-flex gap-3 align-items-center">
                                    <div class="icon-area d-center">
                                        <i class="material-symbols-outlined mat-icon fs-xl"> chat </i>
                                    </div>
                                    <div class="text-area text-start">
                                        <p>Comments</p>
                                    </div>
                                </div>
                            </div>
                            <div class="right-summary d-center">
                                <h5 class="m-0">10</h5>
                                <i class="material-symbols-outlined mat-icon fs-4"> north_west </i>
                            </div>
                        </div>
                        <div class="summary-wrapper d-center p-5 justify-content-between">
                            <div class="left-side">
                                <div class="profile-item d-flex gap-3 align-items-center">
                                    <div class="icon-area d-center">
                                        <i class="material-symbols-outlined mat-icon fs-xl"> favorite </i>
                                    </div>
                                    <div class="text-area text-start">
                                        <p>Reactions</p>
                                    </div>
                                </div>
                            </div>
                            <div class="right-summary d-center">
                                <h5 class="m-0">10</h5>
                                <i class="material-symbols-outlined mat-icon fs-4"> north_west </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="single-box post-graph">
                        <div class="head-area pt-5 px-5 d-flex flex-wrap gap-3 justify-content-between">
                            <p class="mdtxt head-color">Post Reach</p>
                            <div class="right-area head-color d-sm-flex d-none gap-12 align-items-center">
                                <span class="mdtxt like d-center">Like</span>
                                <span class="mdtxt d-center">Comments</span>
                            </div>
                        </div>
                        <div id="postReach"></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="single-box post-graphs">
                        <div class="head-area pt-5 px-5 d-flex justify-content-between">
                            <p class="mdtxt head-color">Page Like</p>
                            <div class="right-area head-color d-flex gap-12 align-items-center">
                                <span class="mdtxt like-area d-center">Like</span>
                            </div>
                        </div>
                        <div id="postChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}