{% extends 'user/components/base_no_left_right.html' %}

{% block title %}Business Page Info{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-xl-8">
        <div class="head-area mb-5">
            <h5>General Info For {{business.name}}</h5>
        </div>
        <form action="/business/page/info/" class="text-center d-grid gap-4" method="POST">
            {% csrf_token %}
            <div class="single-box p-5 mb-0">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="categories">Types</label>
                            <div class="input-area second">
                                <select name="type">
                                    {% for type in business_types %}
                                    <option value="{{ type.id }}" {% if type.id == business.type.id %} selected {% endif %} >{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="number">Number</label>
                            <div class="input-area second">
                                <input type="text" name="phone" placeholder="(316) 555-0116" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="Email">Email</label>
                            <div class="input-area second">
                                <input type="email" name="email" placeholder="test@mail.com" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="website">Website</label>
                            <div class="input-area second">
                                <input type="text" name="website" placeholder="www.abcd.com" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="address">Address</label>
                            <div class="input-area second">
                                <input type="text" name="address" placeholder="775 Rolling Green Rd." autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="country">Country</label>
                            <div class="input-area second">
                                <select name="country">
                                    {% for country in countries %}
                                    <option value="{{ country.id }}" {% if country.id == business.country.id %} selected {% endif %} >{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-area mt-2 text-center">
                <button class="cmn-btn" type="submit">Create Page</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}