{% extends 'user/components/base_no_left_right.html' %}

{% block title %}Business Page Overview{% endblock %}

{% block body %}

<div class="row">
    {% include 'user/components/business_sidebar.html' %}
    <div class="{% if my_business_page.id == current_business_page.id %}col-xl-9 col-lg-8{% endif %}">
        <div class="head-area d-center justify-content-between mb-5">
            <h5>Overview</h5>
            <div class="input-area py-2">
                <select>
                    <option value="1">Last 7 days</option>
                    <option value="2">Last 15 days</option>
                    <option value="3">Last 30 days</option>
                </select>
            </div>
        </div>
        <div class="single-box d-grid gap-4 p-5">
            <div class="d-center top-review-wrapper overview-area pb-4 justify-content-between">
                <div class="left-side">
                    <div class="profile-item">
                        <div class="text-area text-start">
                            <h6 class="m-0">Post reach</h6>
                        </div>
                    </div>
                </div>
                <div class="right-side d-center">
                    <h5 class="m-0">0</h5>
                </div>
            </div>
            <div class="d-center top-review-wrapper overview-area pb-4 justify-content-between">
                <div class="left-side">
                    <div class="profile-item">
                        <div class="text-area text-start">
                            <h6 class="m-0">New Page like</h6>
                        </div>
                    </div>
                </div>
                <div class="right-side d-center">
                    <h5 class="m-0">0</h5>
                </div>
            </div>
            <div class="d-center top-review-wrapper overview-area pb-4 justify-content-between">
                <div class="left-side">
                    <div class="profile-item">
                        <div class="text-area text-start">
                            <h6 class="m-0">Page Follower</h6>
                        </div>
                    </div>
                </div>
                <div class="right-side d-center">
                    <h5 class="m-0">0</h5>
                </div>
            </div>
            <div class="d-center top-review-wrapper overview-area pb-4 justify-content-between">
                <div class="left-side">
                    <div class="profile-item">
                        <div class="text-area text-start">
                            <h6 class="m-0">Like</h6>
                        </div>
                    </div>
                </div>
                <div class="right-side d-center">
                    <h5 class="m-0">0</h5>
                </div>
            </div>
            <div class="d-center top-review-wrapper overview-area pb-4 justify-content-between">
                <div class="left-side">
                    <div class="profile-item">
                        <div class="text-area text-start">
                            <h6 class="m-0">Comment</h6>
                        </div>
                    </div>
                </div>
                <div class="right-side d-center">
                    <h5 class="m-0">0</h5>
                </div>
            </div>
            <div class="d-center top-review-wrapper overview-area pb-4 justify-content-between">
                <div class="left-side">
                    <div class="profile-item">
                        <div class="text-area text-start">
                            <h6 class="m-0">Share</h6>
                        </div>
                    </div>
                </div>
                <div class="right-side d-center">
                    <h5 class="m-0">0</h5>
                </div>
            </div>
            <div class="d-center top-review-wrapper overview-area pb-4 justify-content-between">
                <div class="left-side">
                    <div class="profile-item">
                        <div class="text-area text-start">
                            <h6 class="m-0">Photo View</h6>
                        </div>
                    </div>
                </div>
                <div class="right-side d-center">
                    <h5 class="m-0">0</h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}