{% extends 'user/components/base_no_left_right.html' %}

{% block title %}Business Page Setting{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xl-3 col-lg-4">
        <div class="d-block d-lg-none">
            <button class="button profile-active mb-4 mb-lg-0 d-flex align-items-center gap-2">
                <i class="material-symbols-outlined mat-icon"> tune </i>
                <span>My profile</span>
            </button>
        </div>
        <div class="profile-sidebar cus-scrollbar p-5">
            <div class="d-block d-lg-none position-absolute end-0 top-0">
                <button class="button profile-close">
                    <i class="material-symbols-outlined mat-icon fs-xl"> close </i>
                </button>
            </div>
            <div class="profile-item">
                <div class="profile-item d-flex gap-3 align-items-center">
                    <div class="avatar position-relative">
                        <img class="avatar-img max-un img50x50 rounded-10" src="{{business.owner.profile.url}}"
                            alt="{{business.owner.username}}">
                    </div>
                    <div class="text-area">
                        <h6 class="m-0 mb-1">{{business.owner.username}}</h6>
                        <p class="mdtxt">Owner</p>
                    </div>
                </div>
                <div class="btn-item mt-5 d-center gap-3">
                    <a href="#" class="cmn-btn w-100 justify-content-center gap-1">
                        <i class="material-symbols-outlined mat-icon"> add </i>
                        Invite
                    </a>
                    <div class="btn-group cus-dropdown dropend">
                        <button type="button" class="dropdown-btn d-center px-2" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                        </button>
                        <ul class="dropdown-menu p-4 pt-2">
                            <li>
                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                    <i class="material-symbols-outlined mat-icon"> person_remove </i>
                                    <span>Unfollow</span>
                                </a>
                            </li>
                            <li>
                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                    <i class="material-symbols-outlined mat-icon"> hide_source </i>
                                    <span>Hide</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="profile-link my-5 pb-5">
                <li>
                    <a href="/business/page/profile/"
                        class="d-flex gap-4 {% if request.path == '/business/page/profile/' %} active{% endif %}">
                        <i class="material-symbols-outlined mat-icon"> home </i>
                        <span>Home</span>
                    </a>
                </li>
            </ul>
            <div class="admin-tool">
                <p class="mdtxt">Admin tool</p>
                <ul class="profile-link border-0 mt-4">
                    <li>
                        <a href="/business/page/dashboard/"
                            class="d-flex gap-4 {% if request.path == '/business/page/dashboard/' %} active{% endif %}">
                            <i class="material-symbols-outlined mat-icon"> account_circle </i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/business/page/your/page/"
                            class="d-flex gap-4 {% if request.path == '/business/page/your/page/' %} active{% endif %}">
                            <i class="material-symbols-outlined mat-icon"> group </i>
                            <span>Your Page</span>
                        </a>
                    </li>
                    <li>
                        <a href="/business/page/privacy/"
                            class="d-flex gap-4 {% if request.path == '/business/page/privacy/' %} active{% endif %}">
                            <i class="material-symbols-outlined mat-icon"> bookmark_add </i>
                            <span>Privacy</span>
                        </a>
                    </li>
                    <li>
                        <a href="/business/page/setting/"
                            class="d-flex gap-4 {% if request.path == '/business/page/setting/' %} active{% endif %}">
                            <i class="material-symbols-outlined mat-icon"> settings </i>
                            <span>Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <form method="POST" action="/business/page/profile/update/" enctype="multipart/form-data"
        class="col-xl-9 col-lg-8 cus-mar setting-row">
        {% csrf_token %}
        <div class="head-area mb-6 text-start">
            <h5>Settings</h5>
        </div>
        <div class="single-box p-sm-5 p-3">
            <div class="row gap-6">
                <div class="col-xxl-2 col-md-3 col-sm-5 col-6 pe-0">
                    <div class="upload-single">
                        <div class="head-area mb-2 text-start">
                            <h6>Profile Image</h6>
                        </div>
                        <div class="profile-picture text-start">
                            <img class="preview-image w-100 img140x140" src="{{business.profile.url}}"
                                alt="{{business.name}}">
                        </div>
                        <div class="file-upload">
                            <label class="file text-start mt-2">
                                <input type="file" name="profile">
                                <span class="cmn-btn">Change Profile</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="upload-single cover-img">
                        <div class="head-area mb-2 text-start">
                            <h6>Cover Image</h6>
                        </div>
                        <div class="profile-picture text-start">
                            <img class="preview-image w-100 img900x200" src="{{business.background_profile.url}}"
                                alt="{{business.name}}">
                        </div>
                        <div class="file-upload">
                            <label class="file text-start mt-2">
                                <input type="file" name="background_profile">
                                <span class="cmn-btn">Change Cover photo</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-box text-start p-sm-5 p-3">
            <div class="head-area mb-6">
                <h6>General Information </h6>
            </div>
            <div class="text-center d-grid gap-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="name">Name</label>
                            <div class="input-area second">
                                <input type="text" name="name" value="{{business.name}}" placeholder="Page name">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="number">Number</label>
                            <div class="input-area second">
                                <input type="text" name="phone" value="{{business.phone}}" placeholder="Phone Number">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="Email">Email</label>
                            <div class="input-area second">
                                <input type="text" name="email" value="{{business.email}}" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-9 mt-4">
                        <div class="single-input text-start">
                            <label for="bio">Bio</label>
                            <div class="input-area second">
                                <textarea name="bio" placeholder="Bio">{{business.bio}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-3 mt-4 d-center justify-content-end">
                        <div class="single-input d-center text-start">
                            <div class="group-btn cus-dropdown dropend">
                                <button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="material-symbols-outlined fs-3 m-0"> public </i>
                                </button>
                                <ul class="dropdown-menu p-4 pt-2">
                                    <li>
                                        <a class="droplist d-flex align-items-center gap-2" href="#">
                                            <i class="material-symbols-outlined mat-icon"> public </i>
                                            <span>Public</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="droplist d-flex align-items-center gap-2" href="#">
                                            <i class="material-symbols-outlined mat-icon"> person </i>
                                            <span>Only me</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="droplist d-flex align-items-center gap-2" href="#">
                                            <i class="material-symbols-outlined mat-icon"> share </i>
                                            <span>Share</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="group-btn cus-dropdown dropend">
                                <button type="button" class="dropdown-btn d-center ps-2" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                </button>
                                <ul class="dropdown-menu p-4 pt-2">
                                    <li>
                                        <a class="droplist d-flex align-items-center gap-2" href="#">
                                            <i class="material-symbols-outlined mat-icon"> edit </i>
                                            <span>Edit</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="droplist d-flex align-items-center gap-2" href="#">
                                            <i class="material-symbols-outlined mat-icon"> delete </i>
                                            <span>Delete</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 mt-4">
                        <div class="btn-area text-end">
                            <button class="cmn-btn">Saved Change</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}