{% extends 'user/components/base_no_left_right.html' %}

{% block title %}Business Page Privacy{% endblock %}

{% block body %}

<div class="row">
    {% include 'user/components/business_sidebar.html' %}
    <div class="{% if my_business_page.id == current_business_page.id %}col-xl-9 col-lg-8{% endif %}">
        <div class="head-area mb-5">
            <h5>Page Privacy</h5>
        </div>
        <div class="single-box p-sm-5 p-3">
            <div class="table-responsive overflow-visible text-start">
                <table class="table group-privacy-table m-0">
                    <thead>
                        <tr>
                            <th scope="col"><span>General Info</span></th>
                            <th class="text-start" scope="col"><span>Visibility</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <p class="m-0">Group Follower</p>
                            </th>
                            <td>
                                <div class="input-area w-100 py-2">
                                    <select style="display: none;">
                                        <option value="0">Public</option>
                                        <option value="1">Private</option>
                                    </select>
                                    <div class="nice-select" tabindex="0"><span class="current">Public</span>
                                        <ul class="list">
                                            <li data-value="0" class="option selected">Public</li>
                                            <li data-value="1" class="option">Private</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <p class="m-0">Group Member</p>
                            </th>
                            <td>
                                <div class="input-area w-100 py-2">
                                    <select style="display: none;">
                                        <option value="0">Public</option>
                                        <option value="1">Private</option>
                                    </select>
                                    <div class="nice-select" tabindex="0"><span class="current">Public</span>
                                        <ul class="list">
                                            <li data-value="0" class="option selected">Public</li>
                                            <li data-value="1" class="option">Private</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <p class="m-0">Post</p>
                            </th>
                            <td>
                                <div class="input-area w-100 py-2">
                                    <select style="display: none;">
                                        <option value="0">Public</option>
                                        <option value="1">Private</option>
                                    </select>
                                    <div class="nice-select" tabindex="0"><span class="current">Public</span>
                                        <ul class="list">
                                            <li data-value="0" class="option selected">Public</li>
                                            <li data-value="1" class="option">Private</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <p class="m-0">Member Request</p>
                            </th>
                            <td>
                                <div class="input-area w-100 py-2">
                                    <select style="display: none;">
                                        <option value="0">Public</option>
                                        <option value="1">Private</option>
                                    </select>
                                    <div class="nice-select" tabindex="0"><span class="current">Public</span>
                                        <ul class="list">
                                            <li data-value="0" class="option selected">Public</li>
                                            <li data-value="1" class="option">Private</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-area mt-6 text-end">
                <button type="submit" class="cmn-btn">Saved Change</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}