<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation</title>
    {% load static %}
    {% include 'user/components/favicon.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/outerpage.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

    <div class="container">
        <div class="left__section">
            <div class="title gap">
                <div class="text">
                    <h1>Email Confirmation</h1>
                </div>
                <p>Fill in the details to get started with the best chat app!</p>
            </div>
            <div class="form__container">
                <form action="/confirm_email_to_reset_password/" method="POST">
                    {% csrf_token %}
                    <input placeholder="Enter Your Email" class="form__input" name="email" type="email">
                    <button type="submit">Confirm</button>
                </form>
            </div>
            <div class="forgot__register">
                <a href="/login/"><i class="fa fa-arrow-left"></i> Go Back To Login</a>
            </div>
        </div>
        <div class="right__section">
            <img src="{% static 'user/images/login2.png' %}">
        </div>
    </div>



</body>

</html>