{% extends 'user/components/base.html' %}

{% block title %}Post Details{% endblock %}

{% block body %}

{% load humanize %}
<div class="col-xxl-6 col-xl-5 col-lg-8 mt-0 mt-lg-10 mt-xl-0 d-flex flex-column gap-7 cus-z">
    <div class="post-item d-flex flex-column gap-5 gap-md-7">
        <div class="post-single-box p-3 p-sm-5">
            <div class="top-area pb-5">
                <div class="profile-area d-center justify-content-between">
                    <div class="avatar-item d-flex gap-3 align-items-center">
                        <div class="avatar-item">
                            <img class="avatar-img max-un img50x50" src="{{post.author.profile.url}}"
                                alt="{{post.author.username}}">
                        </div>
                        <div class="info-area">
                            <h6 class="m-0"><a href="/profile/post/{{post.author.id}}/">{{post.author.username}}</a>
                            </h6>
                            <span class="mdtxt status">{{post.created_at | naturaltime }}</span>
                        </div>
                    </div>
                </div>
                <div class="py-4 description-item">
                    <p class="description mb-6">{{post.content}}</p>
                </div>
                <div class="post-img">
                    <img src="assets/images/post-img-7.png" class="w-100" alt="image">
                </div>
            </div>
            <div class="total-react-share pb-4 d-center gap-2 flex-wrap justify-content-between">
                <div class="friends-list d-flex gap-3 align-items-center text-center">
                    <ul class="d-flex align-items-center justify-content-center">
                        <li><img src="assets/images/avatar-2.png" alt="image"></li>
                        <li><img src="assets/images/avatar-3.png" alt="image"></li>
                        <li><img src="assets/images/avatar-4.png" alt="image"></li>
                        <li><span class="mdtxt d-center">8+</span></li>
                    </ul>
                </div>
                <div class="react-list d-flex flex-wrap gap-6 align-items-center text-center">
                    <button class="mdtxt">4 Comments</button>
                    <button class="mdtxt">1 Shares</button>
                </div>
            </div>
            <div class="like-comment-share py-5 d-center flex-wrap gap-3 gap-md-0 justify-content-between">
                <button class="d-center gap-1 gap-sm-2 mdtxt">
                    <i class="material-symbols-outlined mat-icon"> favorite </i>
                    Like
                </button>
                <button class="d-center gap-1 gap-sm-2 mdtxt">
                    <i class="material-symbols-outlined mat-icon"> chat </i>
                    Comment
                </button>
                <button class="d-center gap-1 gap-sm-2 mdtxt">
                    <i class="material-symbols-outlined mat-icon"> share </i>
                    Share
                </button>
            </div>
            <form action="/post/comment/{{post.id}}/details/" method="POST">
                {% csrf_token %}
                <div class="d-flex mt-5 gap-3">
                    <div class="profile-box d-none d-xxl-block">
                        <a href="/profile/post/{{request.user.id}}/"><img src="{{request.user.profile.url}}"
                                class="max-un img50x50" alt="icon"></a>
                    </div>
                    <div class="form-content input-area py-1 d-flex gap-2 align-items-center w-100">
                        <input placeholder="Write a comment.." name="content">
                    </div>
                    <div class="btn-area d-flex">
                        <button type="submit" class="cmn-btn px-2 px-sm-5 px-lg-6">
                            <i class="material-symbols-outlined mat-icon m-0 fs-xxl"> near_me </i>
                        </button>
                    </div>
                </div>
            </form>
            {% for comment in comments %}
            <div class="comments-area mt-5">
                <div class="single-comment-area">
                    <div class="d-flex gap-2 gap-sm-4">
                        <div class="avatar-item d-center align-items-baseline">
                            <img class="avatar-img max-un img48x48" src="{{comment.author.profile.url}}"
                                alt="{{comment.author.username}}">
                        </div>
                        <div class="info-item active">
                            <div class="top-area px-4 py-3 d-flex gap-3 align-items-start justify-content-between">
                                <div class="title-area">
                                    <h6 class="m-0 mb-3"><a
                                            href="/profile/post/{{comment.author.id}}/">{{comment.author.username}}</a>
                                    </h6>
                                    <p class="mdtxt">{{comment.content}}</p>
                                </div>
                                {% if comment.author.id == request.user.id %}
                                <div class="btn-group dropend cus-dropdown">
                                    <button type="button" class="dropdown-btn" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                    </button>
                                    <ul class="dropdown-menu p-4 pt-2">
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> edit </i>
                                                <span>Edit</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> delete </i>
                                                <span>Delete</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}