{% extends 'user/components/base_no_left_right.html' %}

{% block title %}Profile Post{% endblock %}
{% load static %}
{% block body %}
{% load humanize %}

{% include 'user/components/profile_page_top_section.html' %}
<div class="row sidebar-toggler">
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-6 cus-z2">
        <div class="d-inline-block d-lg-none">
            <button class="button profile-active mb-4 mb-lg-0 d-flex align-items-center gap-2">
                <i class="material-symbols-outlined mat-icon"> tune </i>
                <span>My profile</span>
            </button>
        </div>
        <div class="profile-sidebar cus-scrollbar max-width p-5">
            <div class="d-block d-lg-none position-absolute end-0 top-0">
                <button class="button profile-close">
                    <i class="material-symbols-outlined mat-icon fs-xl"> close </i>
                </button>
            </div>
            <div class="sidebar-area">
                <div class="mb-3">
                    <h6 class="d-inline-flex">
                        About
                    </h6>
                </div>
                <p class="mdtxt descript">Lorem ipsum dolor sit amet cons all Ofectetur. Pellentesque ipsum necat congue
                    pretium cursus orci. It Commodo donec tellus lacus pellentesque sagittis habitant quam amet
                    praesent. </p>
                <a href="#" class="cmn-btn w-100 mt-5 alt third d-center gap-1">
                    <i class="material-symbols-outlined mat-icon fs-2"> edit_note </i>
                    Edit Bio
                </a>
            </div>
        </div>
    </div>
    <div class="col-xxl-6 col-xl-5 col-lg-8 mt-0 mt-lg-10 mt-xl-0 d-flex flex-column gap-7 cus-z">
        <div class="share-post d-flex gap-3 gap-sm-5 p-3 p-sm-5">
            <div class="profile-box">
                <a href="/profile/post/">
                    <img src="{% if user.profile %}{{user.profile.url}}{% else %}{% static 'user/images/no-profile.png' %}{% endif %}"
                        style="border-radius: 10px;" class="max-un img50x50" alt="{{user.username}}">
                </a>
            </div>
            <form action="#" class="w-100 position-relative">
                <textarea onclick="window.location.href='/post/create/'" readonly cols="10" class="resize-none" rows="2"
                    placeholder="Write something to {{user.username}}.."></textarea>
            </form>
        </div>
        <div class="post-item d-flex flex-column gap-5 gap-md-7" id="news-feed">

            <!-- <form action="/" method="POST">
            {% csrf_token %}
            <select name="country">
                {% for country in countries %}
                <option value="{{country.id}}">{{country}}</option>
                {% endfor %}
            </select>
            <button type="submit">Select</button>
        </form> -->
            {% for post in posts %}
            <div class="post-single-box p-3 p-sm-5">
                <div class="top-area pb-5">
                    <div class="profile-area d-center justify-content-between">
                        <div class="avatar-item d-flex gap-3 align-items-center">
                            <div class="avatar position-relative">
                                <img class="avatar-img max-un img48x48" style="border-radius: 10px;"
                                    src="{% if post.author.profile %}{{post.author.profile.url}}{% else %}{% static 'user/images/no-profile.png' %}{% endif %}"
                                    alt="{{post.author.username}}">
                            </div>
                            <div class="info-area">
                                <h6 class="m-0"><a href="/profile/post/{{post.author.id}}/">{{post.author.username}}</a>
                                </h6>
                                <span class="mdtxt status">{{post.created_at | naturaltime }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="py-4">
                        <p class="description">{{post.content}}</p>
                    </div>

                    {% if post.media.all|length == 1 %}
                    {% for media in post.media.all %}
                    <div class="post-img">
                        <img src="{{media.file.url}}" class="w-100" alt="image">
                    </div>
                    {% endfor %}
                    {% elif post.media.all|length == 2 %}
                    <div class="post-img  d-flex justify-content-between flex-wrap gap-2 gap-lg-3">
                        {% for media in post.media.all %}
                        <div class="single">
                            <img src="{{media.file.url}}" class="w-100" alt="image">
                        </div>
                        {% endfor %}
                    </div>
                    {% elif post.media.all|length == 3 %}
                    <div class="post-img d-flex justify-content-between flex-wrap gap-2 gap-lg-3">
                        {% for media in post.media.all %}
                        {% if forloop.first %}
                        <div class="single">
                            <img src="{{ media.file.url }}" class="w-100" alt="image">
                        </div>
                        <div class="single d-grid gap-3">
                            {% elif forloop.counter == 2 or forloop.last %}
                            <img src="{{ media.file.url }}" class="w-100" alt="image">
                            {% if forloop.last %}
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% elif post.media.all|length == 4 %}
                    <div class="post-img d-flex justify-content-between flex-wrap gap-2 gap-lg-3">
                        {% for media in post.media.all %}
                        {% if forloop.first %}
                        <div class="single d-grid gap-3">
                            {% endif %}

                            {% if forloop.counter == 1 or forloop.counter == 2 %}
                            <img src="{{ media.file.url }}" class="w-100" alt="image">
                            {% if forloop.counter == 2 %}
                        </div>
                        {% endif %}
                        {% elif forloop.counter == 3 %}
                        <div class="single d-grid gap-3">
                            <img src="{{ media.file.url }}" class="w-100" alt="image">
                            {% elif forloop.counter == 4 %}
                            <img src="{{ media.file.url }}" class="w-100" alt="image">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="total-react-share pb-4 d-center gap-2 flex-wrap justify-content-between">
                    <div class="friends-list d-flex gap-3 align-items-center text-center">
                        <ul class="d-flex align-items-center justify-content-center">
                            <li><img src="{% static 'user/images/no-profile.png' %}" class="img48x48" alt="image"></li>
                            <li><img src="{% static 'user/images/no-profile.png' %}" class="img48x48" alt="image"></li>
                            <li><img src="{% static 'user/images/no-profile.png' %}" class="img48x48" alt="image"></li>
                            <li><span class="mdtxt d-center">8+</span></li>
                        </ul>
                    </div>
                    <div class="react-list d-flex flex-wrap gap-6 align-items-center text-center">
                        <button type="button" class="mdtxt"
                            onclick="window.location.href='/post/details/{{post.id}}/'">4
                            Comments</button>
                        <button class="mdtxt">1 Shares</button>
                    </div>
                </div>
                <div class="like-comment-share py-5 d-center flex-wrap gap-3 gap-md-0 justify-content-between">
                    <button class="d-center gap-1 gap-sm-2 mdtxt reaction" data-post-id="{{ post.id }}">
                        <i
                            class="{% if request.user in post.reaction.all %}fas fa-heart filled{% else %}far fa-heart{% endif %}"></i>
                        Like
                    </button>
                    <button type="button" class="d-center gap-1 gap-sm-2 mdtxt"
                        onclick="window.location.href='/post/details/{{post.id}}/'">
                        <i class="material-symbols-outlined mat-icon"> chat </i>
                        Comment
                    </button>
                    <button class="d-center gap-1 gap-sm-2 mdtxt">
                        <i class="material-symbols-outlined mat-icon"> share </i>
                        Share
                    </button>
                </div>
                <form action="/post/comment/{{post.id}}/index/" method="POST">
                    {% csrf_token %}
                    <div class="d-flex mt-5 gap-3">
                        <div class="profile-box d-none d-xxl-block">
                            <a href="/profile/post/"><img
                                    src="{% if user.profile %}{{user.profile.url}}{% else %}{% static 'user/images/no-profile.png' %}{% endif %}"
                                    class="max-un img50x50 rounded-10" alt="{{user.username}}"></a>
                        </div>
                        <div class="form-content input-area py-1 d-flex gap-2 align-items-center w-100">
                            <input placeholder="Write a comment.." name="content">
                        </div>
                        <div class="btn-area d-flex">
                            <button class="cmn-btn px-2 px-sm-5 px-lg-6" type="submit">
                                <i class="material-symbols-outlined mat-icon m-0 fs-xxl"> near_me </i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            {% endfor %}

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    // Add an event listener to each like button
                    document.querySelectorAll('.like-comment-share .reaction').forEach(button => {
                        button.addEventListener('click', function () {
                            const postId = this.dataset.postId;
                            const url = `/post/reaction/${postId}/`;
                            const heartIcon = this.querySelector('i'); // Get the heart icon

                            // Send the POST request
                            fetch(url, {
                                method: 'POST',
                                headers: { 'X-CSRFToken': '{{ csrf_token }}' }
                            })
                                .then(response => response.json())
                                .then(data => {
                                    // Change the icon based on whether the post is liked or not
                                    if (heartIcon.classList.contains('fas')) {
                                        heartIcon.classList.remove('fas', 'fa-heart', 'filled');
                                        heartIcon.classList.add('far', 'fa-heart');
                                    } else {
                                        heartIcon.classList.remove('far', 'fa-heart');
                                        heartIcon.classList.add('fas', 'fa-heart', 'filled');
                                    }
                                })
                                .catch(error => console.log('Error:', error));
                        });
                    });
                });


            </script>

            <div class="post-single-box p-3 p-sm-5">
                <div class="top-area pb-5">
                    <div class="profile-area d-center justify-content-between">
                        <div class="avatar-item d-flex gap-3 align-items-center">
                            <div class="avatar position-relative">
                                <img class="avatar-img max-un" src="{% static 'user/images/avatar-1.png' %}"
                                    alt="avatar">
                            </div>
                            <div class="info-area">
                                <h6 class="m-0"><a href="public-profile-post.html">Lori Cortez</a></h6>
                                <span class="mdtxt status">Active</span>
                            </div>
                        </div>
                        <div class="btn-group cus-dropdown">
                            <button type="button" class="dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                            </button>
                            <ul class="dropdown-menu p-4 pt-2">
                                <li>
                                    <a class="droplist d-flex align-items-center gap-2" href="#">
                                        <i class="material-symbols-outlined mat-icon"> bookmark_add </i>
                                        <span>Saved Post</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="droplist d-flex align-items-center gap-2" href="#">
                                        <i class="material-symbols-outlined mat-icon"> person_remove </i>
                                        <span>Unfollow</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="droplist d-flex align-items-center gap-2" href="#">
                                        <i class="material-symbols-outlined mat-icon"> hide_source </i>
                                        <span>Hide Post</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="droplist d-flex align-items-center gap-2" href="#">
                                        <i class="material-symbols-outlined mat-icon"> lock </i>
                                        <span>Block</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="droplist d-flex align-items-center gap-2" href="#">
                                        <i class="material-symbols-outlined mat-icon"> flag </i>
                                        <span>Report Post</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="py-4">
                        <p class="description">My Travel Video</p>
                        <p class="hastag d-flex gap-2">
                            <a href="#">#Viral</a>
                            <a href="#">#travel</a>
                        </p>
                    </div>
                    <div class="post-img video-item">
                        <div class="plyr__video-embed player">
                            <iframe src="https://www.youtube.com/embed/LXb3EKWsInQ"></iframe>
                        </div>
                    </div>
                </div>
                <div class="total-react-share pb-4 d-center gap-2 flex-wrap justify-content-between">
                    <div class="friends-list d-flex gap-3 align-items-center text-center">
                        <ul class="d-flex align-items-center justify-content-center">
                            <li><img src="{% static 'user/images/avatar-2.png' %}" alt="image"></li>
                            <li><img src="{% static 'user/images/avatar-3.png' %}" alt="image"></li>
                            <li><img src="{% static 'user/images/avatar-4.png' %}" alt="image"></li>
                            <li><span class="mdtxt d-center">8+</span></li>
                        </ul>
                    </div>
                    <div class="react-list d-flex flex-wrap gap-6 align-items-center text-center">
                        <button type="button" class="mdtxt"
                            onclick="window.location.href='/post/details/{{post.id}}/'">4
                            Comments</button>
                        <button class="mdtxt">1 Shares</button>
                    </div>
                </div>
                <div class="like-comment-share py-5 d-center flex-wrap gap-3 gap-md-0 justify-content-between">
                    <button class="d-center gap-1 gap-sm-2 mdtxt">
                        <i class="material-symbols-outlined mat-icon"> favorite </i>
                        Like
                    </button>
                    <button type="button" class="d-center gap-1 gap-sm-2 mdtxt"
                        onclick="window.location.href='/post/details/{{post.id}}/'">
                        <i class="material-symbols-outlined mat-icon"> chat </i>
                        Comment
                    </button>
                    <button class="d-center gap-1 gap-sm-2 mdtxt">
                        <i class="material-symbols-outlined mat-icon"> share </i>
                        Share
                    </button>
                </div>
                <form action="#">
                    <div class="d-flex mt-5 gap-3">
                        <div class="profile-box d-none d-xxl-block">
                            <a href="#"><img src="{% static 'user/images/add-post-avatar.png' %}" class="max-un"
                                    alt="icon"></a>
                        </div>
                        <div class="form-content input-area py-1 d-flex gap-2 align-items-center w-100">
                            <input placeholder="Write a comment..">
                            <div class="file-input d-flex gap-1 gap-md-2">
                                <div class="file-upload">
                                    <label class="file">
                                        <input type="file">
                                        <span class="file-custom border-0 d-grid text-center">
                                            <span class="material-symbols-outlined mat-icon m-0 xxltxt">
                                                gif_box </span>
                                        </span>
                                    </label>
                                </div>
                                <div class="file-upload">
                                    <label class="file">
                                        <input type="file">
                                        <span class="file-custom border-0 d-grid text-center">
                                            <span class="material-symbols-outlined mat-icon m-0 xxltxt">
                                                perm_media </span>
                                        </span>
                                    </label>
                                </div>
                                <span class="mood-area">
                                    <span class="material-symbols-outlined mat-icon m-0 xxltxt"> mood
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="btn-area d-flex">
                            <button class="cmn-btn px-2 px-sm-5 px-lg-6">
                                <i class="material-symbols-outlined mat-icon m-0 fs-xxl"> near_me </i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-6 mt-5 mt-xl-0">
        <div class="cus-overflow cus-scrollbar sidebar-head">
            <div class="d-flex justify-content-end">
                <div class="d-block d-xl-none me-4">
                    <button class="button toggler-btn mb-4 mb-lg-0 d-flex align-items-center gap-2">
                        <span>My List</span>
                        <i class="material-symbols-outlined mat-icon"> tune </i>
                    </button>
                </div>
            </div>
            <div class="cus-scrollbar side-wrapper">
                <div class="sidebar-wrapper d-flex flex-column gap-6 max-width">
                    <div class="sidebar-area post-item p-5">
                        <div class="mb-3">
                            <h6 class="d-inline-flex">
                                Photos
                            </h6>
                        </div>
                        <div class="post-single-box">
                            <div class="post-img d-flex justify-content-between flex-wrap gap-2 gap-lg-3">
                                <div class="single d-grid gap-3">
                                    <img src="assets/images/post-img-6.png" alt="image">
                                    <img src="assets/images/post-img-14.png" alt="image">
                                </div>
                                <div class="single d-grid gap-3">
                                    <img src="assets/images/post-img-5.png" alt="image">
                                    <img src="assets/images/post-img-15.png" alt="image">
                                </div>
                                <div class="single d-flex gap-3">
                                    <img src="assets/images/post-img-16.png" alt="image">
                                    <img src="assets/images/post-img-17.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-area p-5">
                        <div class="mb-4">
                            <h6 class="d-inline-flex">
                                Contact
                            </h6>
                        </div>
                        <div class="d-flex flex-column gap-6">
                            <div
                                class="profile-area d-center position-relative align-items-center justify-content-between">
                                <div class="avatar-item d-flex gap-3 align-items-center">
                                    <div class="avatar-item">
                                        <img class="avatar-img max-un" src="assets/images/avatar-6.png" alt="avatar">
                                    </div>
                                    <div class="info-area">
                                        <h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Piter Maio</a>
                                        </h6>
                                    </div>
                                </div>
                                <span class="mdtxt abs-area d-center position-absolute end-0">5</span>
                            </div>
                            <div class="profile-area d-center justify-content-between">
                                <div class="avatar-item d-flex gap-3 align-items-center">
                                    <div class="avatar-item">
                                        <img class="avatar-img max-un" src="assets/images/avatar-7.png" alt="avatar">
                                    </div>
                                    <div class="info-area">
                                        <h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Floyd Miles</a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="btn-group cus-dropdown dropend">
                                    <button type="button" class="dropdown-btn" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                    </button>
                                    <ul class="dropdown-menu p-4 pt-2">
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> person_remove </i>
                                                <span>Unfollow</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> hide_source </i>
                                                <span>Hide Contact</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="profile-area d-center justify-content-between">
                                <div class="avatar-item d-flex gap-3 align-items-center">
                                    <div class="avatar-item">
                                        <img class="avatar-img max-un" src="assets/images/avatar-8.png" alt="avatar">
                                    </div>
                                    <div class="info-area">
                                        <h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Darrell
                                                Steward</a></h6>
                                    </div>
                                </div>
                                <div class="btn-group cus-dropdown dropend">
                                    <button type="button" class="dropdown-btn" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                    </button>
                                    <ul class="dropdown-menu p-4 pt-2">
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> person_remove </i>
                                                <span>Unfollow</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> hide_source </i>
                                                <span>Hide Contact</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="profile-area d-center justify-content-between">
                                <div class="avatar-item d-flex gap-3 align-items-center">
                                    <div class="avatar-item">
                                        <img class="avatar-img max-un" src="assets/images/avatar-2.png" alt="avatar">
                                    </div>
                                    <div class="info-area">
                                        <h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Kristin
                                                Watson</a></h6>
                                    </div>
                                </div>
                                <div class="btn-group cus-dropdown dropend">
                                    <button type="button" class="dropdown-btn" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                    </button>
                                    <ul class="dropdown-menu p-4 pt-2">
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> person_remove </i>
                                                <span>Unfollow</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> hide_source </i>
                                                <span>Hide Contact</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="profile-area d-center justify-content-between">
                                <div class="avatar-item d-flex gap-3 align-items-center">
                                    <div class="avatar-item">
                                        <img class="avatar-img max-un" src="assets/images/avatar-3.png" alt="avatar">
                                    </div>
                                    <div class="info-area">
                                        <h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Jane Cooper</a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="btn-group cus-dropdown dropend">
                                    <button type="button" class="dropdown-btn" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                    </button>
                                    <ul class="dropdown-menu p-4 pt-2">
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> person_remove </i>
                                                <span>Unfollow</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> hide_source </i>
                                                <span>Hide Contact</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="profile-area d-center justify-content-between">
                                <div class="avatar-item d-flex gap-3 align-items-center">
                                    <div class="avatar-item">
                                        <img class="avatar-img max-un" src="assets/images/avatar-4.png" alt="avatar">
                                    </div>
                                    <div class="info-area">
                                        <h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Devon Lane</a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="btn-group cus-dropdown dropend">
                                    <button type="button" class="dropdown-btn" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                    </button>
                                    <ul class="dropdown-menu p-4 pt-2">
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> person_remove </i>
                                                <span>Unfollow</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> hide_source </i>
                                                <span>Hide Contact</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="profile-area d-center justify-content-between">
                                <div class="avatar-item d-flex gap-3 align-items-center">
                                    <div class="avatar-item">
                                        <img class="avatar-img max-un" src="assets/images/avatar-9.png" alt="avatar">
                                    </div>
                                    <div class="info-area">
                                        <h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Annette
                                                Black</a></h6>
                                    </div>
                                </div>
                                <div class="btn-group cus-dropdown dropend">
                                    <button type="button" class="dropdown-btn" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                    </button>
                                    <ul class="dropdown-menu p-4 pt-2">
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> person_remove </i>
                                                <span>Unfollow</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> hide_source </i>
                                                <span>Hide Contact</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="profile-area d-center justify-content-between">
                                <div class="avatar-item d-flex gap-3 align-items-center">
                                    <div class="avatar-item">
                                        <img class="avatar-img max-un" src="assets/images/avatar-10.png" alt="avatar">
                                    </div>
                                    <div class="info-area">
                                        <h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Jerome Bell</a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="btn-group cus-dropdown dropend">
                                    <button type="button" class="dropdown-btn" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                    </button>
                                    <ul class="dropdown-menu p-4 pt-2">
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> person_remove </i>
                                                <span>Unfollow</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> hide_source </i>
                                                <span>Hide Contact</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="profile-area d-center justify-content-between">
                                <div class="avatar-item d-flex gap-3 align-items-center">
                                    <div class="avatar-item">
                                        <img class="avatar-img max-un" src="assets/images/avatar-11.png" alt="avatar">
                                    </div>
                                    <div class="info-area">
                                        <h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Guy Hawkins</a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="btn-group cus-dropdown dropend">
                                    <button type="button" class="dropdown-btn" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                    </button>
                                    <ul class="dropdown-menu p-4 pt-2">
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> person_remove </i>
                                                <span>Unfollow</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="droplist d-flex align-items-center gap-2" href="#">
                                                <i class="material-symbols-outlined mat-icon"> hide_source </i>
                                                <span>Hide Contact</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Go Live Popup start -->
<div class="go-live-popup">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="modal cmn-modal fade" id="goLiveMod">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content p-5">
                            <div class="modal-header justify-content-center">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="material-symbols-outlined mat-icon xxltxt"> close </i>
                                </button>
                            </div>
                            <div class="top-content pb-5">
                                <h5>Go Live</h5>
                            </div>
                            <div class="mid-area">
                                <div class="d-flex mb-5 gap-3">
                                    <div class="profile-box">
                                        <a href="#"><img src="assets/images/add-post-avatar.png" class="max-un"
                                                alt="icon"></a>
                                    </div>
                                    <textarea cols="10" rows="2" placeholder="Write something to Lerio.."></textarea>
                                </div>
                                <div class="file-upload">
                                    <label>Upload attachment</label>
                                    <label class="file mt-1">
                                        <input type="file">
                                        <span class="file-custom pt-8 pb-8 d-grid text-center">
                                            <i class="material-symbols-outlined mat-icon"> perm_media </i>
                                            <span>Drag here or click to upload photo.</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="footer-area pt-5">
                                <div class="btn-area d-flex justify-content-end gap-2">
                                    <button type="button" class="cmn-btn alt" data-bs-dismiss="modal"
                                        aria-label="Close">Cancel</button>
                                    <button class="cmn-btn">Go Live</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Go Live Popup end -->

<!-- video popup start -->
<div class="go-live-popup video-popup">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="modal cmn-modal fade" id="photoVideoMod">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content p-5">
                            <div class="modal-header justify-content-center">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="material-symbols-outlined mat-icon xxltxt"> close </i>
                                </button>
                            </div>
                            <div class="top-content pb-5">
                                <h5>Add post photo/video</h5>
                            </div>
                            <div class="mid-area">
                                <div class="d-flex mb-5 gap-3">
                                    <div class="profile-box">
                                        <a href="#"><img src="assets/images/add-post-avatar.png" class="max-un"
                                                alt="icon"></a>
                                    </div>
                                    <textarea cols="10" rows="2" placeholder="Write something to Lerio.."></textarea>
                                </div>
                                <div class="file-upload">
                                    <label>Upload attachment</label>
                                    <label class="file mt-1">
                                        <input type="file">
                                        <span class="file-custom pt-8 pb-8 d-grid text-center">
                                            <i class="material-symbols-outlined mat-icon"> perm_media </i>
                                            <span>Drag here or click to upload photo.</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="footer-area pt-5">
                                <div class="btn-area d-flex justify-content-end gap-2">
                                    <button type="button" class="cmn-btn alt" data-bs-dismiss="modal"
                                        aria-label="Close">Cancel</button>
                                    <button class="cmn-btn">Post</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- video popup end -->

<!-- Go Live Popup start -->
<div class="go-live-popup">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="modal cmn-modal fade" id="activityMod">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content p-5">
                            <div class="modal-header justify-content-center">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="material-symbols-outlined mat-icon xxltxt"> close </i>
                                </button>
                            </div>
                            <div class="top-content pb-5">
                                <h5>Create post</h5>
                            </div>
                            <div class="mid-area">
                                <div class="d-flex mb-5 gap-3">
                                    <div class="profile-box">
                                        <a href="#"><img src="assets/images/add-post-avatar.png" class="max-un"
                                                alt="icon"></a>
                                    </div>
                                    <textarea cols="10" rows="2" placeholder="Write something to Lerio.."></textarea>
                                </div>
                                <div class="file-upload">
                                    <label>Upload attachment</label>
                                    <label class="file mt-1">
                                        <input type="file">
                                        <span class="file-custom pt-8 pb-8 d-grid text-center">
                                            <i class="material-symbols-outlined mat-icon"> perm_media </i>
                                            <span>Drag here or click to upload photo.</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="tooltips-area d-flex mt-3 gap-2">
                                    <button type="button" class="btn d-center" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Fallings/Activity">
                                        <i class="material-symbols-outlined mat-icon"> mood </i>
                                    </button>
                                    <button type="button" class="btn d-center" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Video">
                                        <i class="material-symbols-outlined mat-icon"> movie </i>
                                    </button>
                                    <button type="button" class="btn d-center" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Maps">
                                        <i class="material-symbols-outlined mat-icon"> location_on </i>
                                    </button>
                                    <button type="button" class="btn d-center" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Tag">
                                        <i class="material-symbols-outlined mat-icon"> sell </i>
                                    </button>
                                </div>
                            </div>
                            <div class="footer-area d-flex justify-content-between pt-5">
                                <div class="left-area">
                                    <select>
                                        <option value="1">Public</option>
                                        <option value="2">Only Me</option>
                                        <option value="3">Friends</option>
                                        <option value="4">Custom</option>
                                    </select>
                                </div>
                                <div class="btn-area d-flex justify-content-end gap-2">
                                    <button type="button" class="cmn-btn alt" data-bs-dismiss="modal"
                                        aria-label="Close">Cancel</button>
                                    <button class="cmn-btn">Post</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Go Live Popup end -->

{% endblock %}