{% extends 'user/components/base_no_left_right.html' %}

{% block title %}Profile About{% endblock %}
{% load static %}
{% block body %}
{% load humanize %}

<div class="row profile-picture-area">
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-8">
        <div class="single-box p-3">
            <div class="d-block d-lg-none position-absolute end-0 top-0">
                <button class="button profile-close">
                    <i class="material-symbols-outlined mat-icon fs-xl"> close </i>
                </button>
            </div>
            <div class="upload-single">
                <div class="profile-picture text-start">
                    {% if user.profile %}
                    <img class="preview-image w-100" src="{{user.profile.url }}" alt="{{user.username}}">
                    {% else %}
                    <img class="preview-image w-100" src="{% static 'user/images/no-profile.png' %}"
                        alt="{{user.username}}">
                    {% endif %}
                </div>
                <div class="file-upload">
                    <label class="file text-center mt-4">
                        <input type="file">
                        <span class="cmn-btn d-center gap-1">
                            <i class="material-symbols-outlined mat-icon fs-2"> edit_note </i>
                            Change Profile Photo
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-8">
        <div class="head-area mb-5">
            <h6>Edit Profile</h6>
        </div>
        <form action="#" class="text-center d-grid gap-4">
            <div class="single-box p-5">
                <div class="col-md-12">
                    <div class="upload-single cover-img">
                        <div class="head-area mb-2 text-start">
                            <h6>Cover Image</h6>
                        </div>
                        <div class="profile-picture position-relative text-start">
                            <img class="preview-image w-100" src="{% static 'user/images/profile-edit-cover.png' %}"
                                alt="Preview Image">
                            <div class="file-upload position-absolute p-4 bottom-0 end-0">
                                <label class="file text-start mt-2">
                                    <input type="file">
                                    <span class="cmn-btn d-center gap-1">
                                        <i class="material-symbols-outlined mat-icon fs-2"> edit_note </i>
                                        Change Cover Photo
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-box p-3 p-sm-5">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="name">Name</label>
                            <div class="input-area second">
                                <input type="text" value="Lerio Mao" placeholder="Type name" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="number">Number</label>
                            <div class="input-area second">
                                <input type="text" value="(316) 555-0116" placeholder="Number" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="Email">Email</label>
                            <div class="input-area second">
                                <input type="text" value="test@mail.com" placeholder="Email" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="birthday">Birthday</label>
                            <div class="input-area second">
                                <input type="text" value="31-12-2000" placeholder="birthday" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="address">Address</label>
                            <div class="input-area second">
                                <input type="text" value="775 Rolling Green Rd." placeholder="address"
                                    autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-input text-start">
                            <label for="country">Country</label>
                            <div class="input-area second">
                                <input type="text" value="USA" placeholder="country" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="head-area mt-5 text-start">
                            <h6>Bio</h6>
                            <p class="mdtxt mt-4">“Lorem ipsum dolor sit amet consectetur. Nec donec vestibulum eleifend
                                lectus ipsum ultrices et dictum”.</p>
                        </div>
                        <ul class="d-grid gap-3 mt-5">
                            <li class="d-center gap-3 justify-content-between">
                                <div class="info-area d-flex text-start align-items-center gap-2">
                                    <i class="material-symbols-outlined mat-icon"> work </i>
                                    <span class="mdtxt">Associate Creative Director – Experience Design</span>
                                </div>
                                <div class="input-item d-center text-start">
                                    <div class="group-btn cus-dropdown dropend">
                                        <button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="material-symbols-outlined fs-3 m-0"> public </i>
                                        </button>
                                        <ul class="dropdown-menu p-4 pt-2">
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> public </i>
                                                    <span>Public</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> person </i>
                                                    <span>Only me</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> share </i>
                                                    <span>Share</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="group-btn cus-dropdown dropend">
                                        <button type="button" class="dropdown-btn d-center ps-2"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                        </button>
                                        <ul class="dropdown-menu p-4 pt-2">
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> edit </i>
                                                    <span>Edit</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> delete </i>
                                                    <span>Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="d-center gap-3 justify-content-between">
                                <div class="info-area d-flex text-start align-items-center gap-2">
                                    <i class="material-symbols-outlined mat-icon"> work </i>
                                    <span class="mdtxt">Former Designer at TECHTEK</span>
                                </div>
                                <div class="input-item d-center text-start">
                                    <div class="group-btn cus-dropdown dropend">
                                        <button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="material-symbols-outlined fs-3 m-0"> public </i>
                                        </button>
                                        <ul class="dropdown-menu p-4 pt-2">
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> public </i>
                                                    <span>Public</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> person </i>
                                                    <span>Only me</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> share </i>
                                                    <span>Share</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="group-btn cus-dropdown dropend">
                                        <button type="button" class="dropdown-btn d-center ps-2"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                        </button>
                                        <ul class="dropdown-menu p-4 pt-2">
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> edit </i>
                                                    <span>Edit</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> delete </i>
                                                    <span>Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="d-center gap-3 justify-content-between">
                                <div class="info-area d-flex text-start align-items-center gap-2">
                                    <i class="material-symbols-outlined mat-icon"> work </i>
                                    <span class="mdtxt">Former Designer at Telpino</span>
                                </div>
                                <div class="input-item d-center text-start">
                                    <div class="group-btn cus-dropdown dropend">
                                        <button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="material-symbols-outlined fs-3 m-0"> public </i>
                                        </button>
                                        <ul class="dropdown-menu p-4 pt-2">
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> public </i>
                                                    <span>Public</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> person </i>
                                                    <span>Only me</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> share </i>
                                                    <span>Share</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="group-btn cus-dropdown dropend">
                                        <button type="button" class="dropdown-btn d-center ps-2"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                        </button>
                                        <ul class="dropdown-menu p-4 pt-2">
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> edit </i>
                                                    <span>Edit</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> delete </i>
                                                    <span>Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="d-center gap-3 justify-content-between">
                                <div class="info-area d-flex text-start align-items-center gap-2">
                                    <i class="material-symbols-outlined mat-icon"> school </i>
                                    <span class="mdtxt">Master's degree</span>
                                </div>
                                <div class="input-item d-center text-start">
                                    <div class="group-btn cus-dropdown dropend">
                                        <button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="material-symbols-outlined fs-3 m-0"> public </i>
                                        </button>
                                        <ul class="dropdown-menu p-4 pt-2">
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> public </i>
                                                    <span>Public</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> person </i>
                                                    <span>Only me</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> share </i>
                                                    <span>Share</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="group-btn cus-dropdown dropend">
                                        <button type="button" class="dropdown-btn d-center ps-2"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                        </button>
                                        <ul class="dropdown-menu p-4 pt-2">
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> edit </i>
                                                    <span>Edit</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> delete </i>
                                                    <span>Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="d-center gap-3 justify-content-between">
                                <div class="info-area d-flex text-start align-items-center gap-2">
                                    <i class="material-symbols-outlined mat-icon"> school </i>
                                    <span class="mdtxt">Honors (English)</span>
                                </div>
                                <div class="input-item d-center text-start">
                                    <div class="group-btn cus-dropdown dropend">
                                        <button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="material-symbols-outlined fs-3 m-0"> public </i>
                                        </button>
                                        <ul class="dropdown-menu p-4 pt-2">
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> public </i>
                                                    <span>Public</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> person </i>
                                                    <span>Only me</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> share </i>
                                                    <span>Share</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="group-btn cus-dropdown dropend">
                                        <button type="button" class="dropdown-btn d-center ps-2"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                        </button>
                                        <ul class="dropdown-menu p-4 pt-2">
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> edit </i>
                                                    <span>Edit</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> delete </i>
                                                    <span>Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="d-center gap-3 justify-content-between">
                                <div class="info-area d-flex text-start align-items-center gap-2">
                                    <i class="material-symbols-outlined mat-icon"> auto_awesome </i>
                                    <span class="mdtxt">Religione</span>
                                </div>
                                <div class="input-item d-center text-start">
                                    <div class="group-btn cus-dropdown dropend">
                                        <button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="material-symbols-outlined fs-3 m-0"> public </i>
                                        </button>
                                        <ul class="dropdown-menu p-4 pt-2">
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> public </i>
                                                    <span>Public</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> person </i>
                                                    <span>Only me</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> share </i>
                                                    <span>Share</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="group-btn cus-dropdown dropend">
                                        <button type="button" class="dropdown-btn d-center ps-2"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                        </button>
                                        <ul class="dropdown-menu p-4 pt-2">
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> edit </i>
                                                    <span>Edit</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> delete </i>
                                                    <span>Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="d-center gap-3 justify-content-between">
                                <div class="info-area d-flex text-start align-items-center gap-2">
                                    <i class="material-symbols-outlined mat-icon"> favorite </i>
                                    <span class="mdtxt">Relationship (Single)</span>
                                </div>
                                <div class="input-item d-center text-start">
                                    <div class="group-btn cus-dropdown dropend">
                                        <button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="material-symbols-outlined fs-3 m-0"> public </i>
                                        </button>
                                        <ul class="dropdown-menu p-4 pt-2">
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> public </i>
                                                    <span>Public</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> person </i>
                                                    <span>Only me</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> share </i>
                                                    <span>Share</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="group-btn cus-dropdown dropend">
                                        <button type="button" class="dropdown-btn d-center ps-2"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                        </button>
                                        <ul class="dropdown-menu p-4 pt-2">
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> edit </i>
                                                    <span>Edit</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="droplist d-flex align-items-center gap-2" href="#">
                                                    <i class="material-symbols-outlined mat-icon"> delete </i>
                                                    <span>Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 mt-4">
                        <div class="btn-area text-end">
                            <button class="cmn-btn">Saved Change</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Go Live Popup start -->
<div class="go-live-popup">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="modal cmn-modal fade" id="goLiveMod">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content p-5">
                            <div class="modal-header justify-content-center">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="material-symbols-outlined mat-icon xxltxt"> close </i>
                                </button>
                            </div>
                            <div class="top-content pb-5">
                                <h5>Go Live</h5>
                            </div>
                            <div class="mid-area">
                                <div class="d-flex mb-5 gap-3">
                                    <div class="profile-box">
                                        <a href="#"><img src="assets/images/add-post-avatar.png" class="max-un"
                                                alt="icon"></a>
                                    </div>
                                    <textarea cols="10" rows="2" placeholder="Write something to Lerio.."></textarea>
                                </div>
                                <div class="file-upload">
                                    <label>Upload attachment</label>
                                    <label class="file mt-1">
                                        <input type="file">
                                        <span class="file-custom pt-8 pb-8 d-grid text-center">
                                            <i class="material-symbols-outlined mat-icon"> perm_media </i>
                                            <span>Drag here or click to upload photo.</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="footer-area pt-5">
                                <div class="btn-area d-flex justify-content-end gap-2">
                                    <button type="button" class="cmn-btn alt" data-bs-dismiss="modal"
                                        aria-label="Close">Cancel</button>
                                    <button class="cmn-btn">Go Live</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Go Live Popup end -->

<!-- video popup start -->
<div class="go-live-popup video-popup">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="modal cmn-modal fade" id="photoVideoMod">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content p-5">
                            <div class="modal-header justify-content-center">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="material-symbols-outlined mat-icon xxltxt"> close </i>
                                </button>
                            </div>
                            <div class="top-content pb-5">
                                <h5>Add post photo/video</h5>
                            </div>
                            <div class="mid-area">
                                <div class="d-flex mb-5 gap-3">
                                    <div class="profile-box">
                                        <a href="#"><img src="assets/images/add-post-avatar.png" class="max-un"
                                                alt="icon"></a>
                                    </div>
                                    <textarea cols="10" rows="2" placeholder="Write something to Lerio.."></textarea>
                                </div>
                                <div class="file-upload">
                                    <label>Upload attachment</label>
                                    <label class="file mt-1">
                                        <input type="file">
                                        <span class="file-custom pt-8 pb-8 d-grid text-center">
                                            <i class="material-symbols-outlined mat-icon"> perm_media </i>
                                            <span>Drag here or click to upload photo.</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="footer-area pt-5">
                                <div class="btn-area d-flex justify-content-end gap-2">
                                    <button type="button" class="cmn-btn alt" data-bs-dismiss="modal"
                                        aria-label="Close">Cancel</button>
                                    <button class="cmn-btn">Post</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- video popup end -->

<!-- Go Live Popup start -->
<div class="go-live-popup">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="modal cmn-modal fade" id="activityMod">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content p-5">
                            <div class="modal-header justify-content-center">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="material-symbols-outlined mat-icon xxltxt"> close </i>
                                </button>
                            </div>
                            <div class="top-content pb-5">
                                <h5>Create post</h5>
                            </div>
                            <div class="mid-area">
                                <div class="d-flex mb-5 gap-3">
                                    <div class="profile-box">
                                        <a href="#"><img src="assets/images/add-post-avatar.png" class="max-un"
                                                alt="icon"></a>
                                    </div>
                                    <textarea cols="10" rows="2" placeholder="Write something to Lerio.."></textarea>
                                </div>
                                <div class="file-upload">
                                    <label>Upload attachment</label>
                                    <label class="file mt-1">
                                        <input type="file">
                                        <span class="file-custom pt-8 pb-8 d-grid text-center">
                                            <i class="material-symbols-outlined mat-icon"> perm_media </i>
                                            <span>Drag here or click to upload photo.</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="tooltips-area d-flex mt-3 gap-2">
                                    <button type="button" class="btn d-center" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Fallings/Activity">
                                        <i class="material-symbols-outlined mat-icon"> mood </i>
                                    </button>
                                    <button type="button" class="btn d-center" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Video">
                                        <i class="material-symbols-outlined mat-icon"> movie </i>
                                    </button>
                                    <button type="button" class="btn d-center" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Maps">
                                        <i class="material-symbols-outlined mat-icon"> location_on </i>
                                    </button>
                                    <button type="button" class="btn d-center" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Tag">
                                        <i class="material-symbols-outlined mat-icon"> sell </i>
                                    </button>
                                </div>
                            </div>
                            <div class="footer-area d-flex justify-content-between pt-5">
                                <div class="left-area">
                                    <select>
                                        <option value="1">Public</option>
                                        <option value="2">Only Me</option>
                                        <option value="3">Friends</option>
                                        <option value="4">Custom</option>
                                    </select>
                                </div>
                                <div class="btn-area d-flex justify-content-end gap-2">
                                    <button type="button" class="cmn-btn alt" data-bs-dismiss="modal"
                                        aria-label="Close">Cancel</button>
                                    <button class="cmn-btn">Post</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Go Live Popup end -->

{% endblock %}