<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    {% include 'user/components/favicon.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/outerpage.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

    <div class="container">
        <div class="left__section">
            <div class="title">
                <div class="text">
                    <h1>Welcome</h1>
                    <img src="{% static 'user/images/victory.svg' %}" alt="">
                </div>
                <p>Fill in the details to get started with the best chat app!</p>
            </div>
            <div class="form__container">
                <form action="/register/" method="POST">
                    {% csrf_token %}
                    <input placeholder="Enter Your Name" type="text" name="username" class="form__input">
                    <input placeholder="Enter Your Email" type="email" name="email" class="form__input">
                    <select class="form__input" name="country">
                        {% for country in countries %}
                        <option value="{{country.id}}">{{country.name}}</option>
                        {% endfor %}
                    </select>
                    <input class="form__input" placeholder="Enter Your Password" name="password" type="password">
                    <button type="submit">Register</button>
                </form>
            </div>
            <div class="forgot__register">
                <a href="/login/"><i class="fa fa-arrow-left"></i> Go Back To Login</a>
            </div>
        </div>
        <div class="right__section">
            <img src="{% static 'user/images/login2.png' %}">
        </div>
    </div>



</body>

</html>